quarkus.http.port=
#quarkus.log.category."org.apache.http".level=DEBUG

mp.jwt.verify.publickey.location=

%test.mp.jwt.verify.publickey.location= 
mp.jwt.verify.issuer=

quarkus.http.auth.permission.permit1.policy=permit
quarkus.http.auth.permission.permit1.paths=/

reniec.password=
reniec.ruc-user=
reniec.dni-user=


quarkus.http.port=9991
#quarkus.log.category."org.apache.http".level=DEBUG

mp.jwt.verify.publickey.location=D:/microservicios/publicKey.pem 

%test.mp.jwt.verify.publickey.location=E://projects/spring/auth_web/src/main/resources/META-INF/resources/publicKey.pem 
mp.jwt.verify.issuer=https://example.com/issuer

quarkus.http.auth.permission.permit1.policy=permit
quarkus.http.auth.permission.permit1.paths=/

reniec.password=40931308
reniec.ruc-user=20530689019
reniec.dni-user=40931308